
body{
    background-color: #fafbff;
}

main.grid{
    display:grid;

    grid-template-areas: 
    "nav nav nav nav"
    "article article article sidebar"
    "article article article sidebar" 
    "footer footer footer footer";
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: #ff784d;
    text-decoration: none;
    transition: 0.3s;
}

#nav{
    grid-area: nav;
    background-color: #234567;
}

@media (min-width:990px){ 
#sidebar{
    grid-area: sidebar;
    width:25vw;
    background-color: #edefff;
    padding-top: 16px;
    padding-bottom: 32px;
}

#article>img{
    flex-wrap: wrap;
    width:max-content;
}

}

#article{
    grid-area: article;
}

#footer{
    grid-area: footer;
    background-color: #012345;
}

#article > img{
    min-height: 300px;
}

form{
    color:white;
    text-align: right;
}

button{
    background-color: #ff784d;
    color:white;
}

button:hover{
    color:#ff784d;
    background-color: white;
    transition:0.4s;
}

#article, #sidebar, #footer {
    padding-bottom: 16px;
    padding-right: 8px;
}