
body{
    background-color: #fafbff;
}

main.grid{
    display:grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;

    grid-template-areas: 
    "nav nav nav nav"
    "article article article sidebar"
    "article article article sidebar" 
    "footer footer footer footer";
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color: #ff784d;
    text-decoration: none;
    transition: 0.3s;
}

#nav{
    grid-area: nav;
    background-color: #234567;
}

#sidebar{
    grid-area: sidebar;
    width:25vw;
}

#article{
    grid-area: article;
}

#footer{
    grid-area: footer;
}